<h1>Welcome to Pinsive</h1>
<h4>Your daily dose of pin recommendations!</h4>

<form method="POST" action="/auth/login">

</form>

<hr>

<a href="/auth/pinterest" class="btn btn-danger">Login with Pinterest</a>
