<h1>Pinsive:</h1>
<h5><i>(adj.) engaged in, involving, or reflecting deep in serious pinning!</i></h5>

<form method="get" action="/suggested">
  <div class="form-group">
    <a href="/" class="btn btn-danger" id="getBoard">Get Pins!</a>
  </div>
  <div class="container" id="boardResult">
  	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<br>
          <% include partials/results %>
		</div>
	</div>
  </div>
</form>

